<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Ejemplo AJAX</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- SCRIPTS PARA POST Y GET CON JQUERY--->
<script src="/postrequest.js"></script>
<script src="/getrequest.js"></script>
</head>
<body>

	<!-- Se agrega cuando se haya hecho POST -->
	<div id="postResultDiv" align="center"></div>

	<div class="container">
		<h2>Formulario de Libro</h2>
		<form id="bookForm">
			<div class="form-group">
				<label for="bookId">Id:</label> 
				<input type="text"
					class="form-control" id="bookId" placeholder="Ingrese el id"
					name="bookId">
			</div>
			<div class="form-group">
				<label for="bookName">Nombre:</label> 
				<input type="text"
					class="form-control" id="bookName" placeholder="Ingrese el nombre"
					name="bookName">
			</div>
			<div class="form-group">
				<label for="author">Autor:</label> 
				<input type="text"
					class="form-control" id="author" placeholder="Ingrese el autor"
					name="author">
			</div>
			
			<button type="submit" class="btn btn-primary">Registrar</button>
		</form>
		
		<br />
		
		<div class="col-sm-7 p-0" style="margin: 20px 0px 20px 0px">
			<button id="getALlBooks" type="button" class="btn btn-primary">
				Ver Libros
			</button>
			<div id="getResultDiv" style="padding: 20px 0px 20px 0px">
				<ul class="list-group"></ul>
			</div>
		</div>
		
	</div>
</body>
</html>